// colors
$color_white: #fff;
$color_black: #000;
$color_1: #e7f5f8;
$color_2: #dcf0f4;
$color_3: #64d9fb;
$color_4: #43c4f3;
$color_5: #179ed5;
$color_6: #206298;
$color_7: #ff2222;
$color_8: #eeeeee;
$color_9: #15bd71;

$color-f-1: #1b6394;
$color-f-2: #3d3d3d;
$color-f-3: #c4c4c4;
$color-f-4: #7a7a7a;
$color-f-5: #179ed5;
$color-f-6: #4d4d4d;

$color-cheme: $color_1, $color_2, $color_3, $color_4, $color_5, $color_6;

$colors: red, orange, yellow, green, blue, purple;

// ьувшф

$notebooks: 1360px;
